/* Styles for the entire page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #222;
}

/* Styles for the main card container */
.card {
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  border-radius: 20px;
  padding: 40px 35px;
}

/* Styles for the location button */
.location {
  cursor: pointer;
}

/* Styles for the search input field */
.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  border-radius: 30px;
  font-size: 18px;
}

/* Styles for the search button */
.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
}

/* Styles for the search button icon */
.search button img {
  width: 26px;
}

/* Styles for the weather icon */
.weather-icon {
  width: 160px;
  margin-bottom: 2rem;
}

/* Styles for the temperature and city name */
.weather h1 {
  font-size: 4rem;
  font-weight: 500;
  position: relative;
  bottom: 20px;
}

.weather h2 {
  font-size: 2.5rem;
  font-weight: 500;
  position: relative;
  bottom: 20px;
}


/* Styles for the weather detail icons */
.col img {
  width: 40px;
  margin-right: 10px;
}

/* Styles for humidity and wind speed */
.Humidity,
.wind {
  font-size: 1.3rem;
  font-weight: 600;
}

/* Styles for the history card container */
.history-Card {
  margin-top: 2rem;
}

/* Styles for each historical weather card */
.H-Card {
  background-color: lightGrey;
  color: black;
  text-align: left;
  text-shadow: 5px 15px 35px black;

 
}

/* Styles for the dropdown menu */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 300px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 12px;
  z-index: 1;
  margin-top: 4rem;
  border-radius: 15px;
  cursor: pointer;
}

/* Styles for dropdown menu items on hover */
.dropdown-menu div:hover {
  background-color: white;
  color: black;
}

/* Show dropdown menu */
.dropdown-menu.show {
  display: block;
}

/* Media query for smaller screens */
@media (max-width: 720px) {
  .col-Humidity img,
  .col-wind img {
    position: relative;
    left: 5px;
    top: 15px;
  }
}

/* Media query for medium-sized screens */
@media (min-width: 550px) and (max-width: 1370px) {
  .col-Humidity img,
  .col-wind img {
    left: 5px;
  }
}
